@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-lines: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppings", sans-serif;
    --color1: #F7F7F7;
    --color2: ;
    background: var(--color1);
    font-family: quicksand;
}

/* shared style */

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}











.mainSec, .CurriculumSec, .storiesSec, .headerPart{
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0; */
}

.header{
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header h1{
    /* align-items: center; */
    margin: 10px 10px;
}

.header ul li{
    list-style: none;
    gap: 20px;
    
}


.header ul li a{
    text-decoration: none;
    padding: 20px;
}

#cross{
    display: none;
}


.main{
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.mainText{
    width: calc(50% - 10px);
}

.mainText h1{
    font-size: 48px;
}

.mainText p{
    font-size: 20px;
    padding-bottom: 10px;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    font-family: quicksand;
    font-size: 20px;
    font-weight: 500;
}


.text-color1{
    color: orange;
}

.text-color2{
    color: skyblue;
}


.CurriculumSec{
    /* padding: 50px 0; */
    background: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-size: cover; */
    /* height: 100vh; */
}

.curriculam{
    /* flex-direction: column; */
    width: 80%;
    /* justify-content: center; */
    text-align: center;
    padding: 60px;
}

.curriculam h1{
 font-size: 48px;
}

.gridcard{
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 80px 0;
    /* justify-content: space-around; */
}

.card1{
    width: calc(100% - 60px);
    /* justify-content: center; */
    text-align: justify-center;
    padding: 50px 40px;
    /* margin: 20px; */
    background: linear-gradient(#DEF5FF, rgba(255, 255, 255, 0));
    border: 1px solid #DEF5FF;
    border-radius: 12px;
}

.card2{
    width: calc(100% - 60px);
    /* justify-content: center; */
    text-align: justify-center;
    padding: 50px 40px;
    /* margin: 20px; */
    background: linear-gradient(#FFF4DC, rgba(255, 255, 255, 0));
    border: 1px solid #DEF5FF;
    border-radius: 12px;
}

.card3{
    width: calc(100% - 60px);
    /* justify-content: center; */
    text-align: justify-center;
    padding: 50px 40px;
    /* margin: 20px; */
    background: linear-gradient(#EEE1FF, rgba(255, 255, 255, 0));
    border: 1px solid #DEF5FF;
    border-radius: 12px;
}

.card1 h2{
    padding: 30px;
}

.card1 p{
    padding-bottom: 30px;
}

.secendaryBtn{
    border: none;
    padding: 10px;
    background: none;
    font-size: 16px;
    font-weight: 550;
}

.btn1{
    color: #64C8FF;
}

.btn2{
    color: #F0AA00;
}

.btn3{
    color: #8700FF;
}

.slideBtn i{
    margin: 5px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    background: orange;
    font-size: 24px;
    font-weight: 800;
}


.storiesSec{
    background: url(../assets/bg.png), linear-gradient(rgba(247, 247, 247, 0), rgba(254, 161, 1, 0.1));
    background-size: cover;
    background-position: top;
}

.smallCard{
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.stories{
    width: 80%;
    text-align: center;
}


.btnV{
    margin: 80px 0 60px 0;
}

.cardArea{
    gap: 20px;
    margin-top: 80px;
}

.stories h1{
    font-size: 46px;
    font-weight: 800;
}


.smallCard{
    /* width: 150%; */
}

.big {
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    /* height: auto; */
    overflow: hidden;
}

.small{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    /* height: auto; */
    overflow: hidden;
}

.big img{
    width: 100%;
}

.small img{
    width: 100%;
}

.big div{
    padding: 50px;
    text-align: left;
}

.small div{
    padding: 50px 20px;
    text-align: left;
}

.big div h3 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 50px;
}

.small div h3 {
    font-size: 24px;
    font-weight: 700;
    /* padding-bottom: 20px; */
}

.damiBtn{
    position: relative;

}

.damiButton{
    display: inline;
    position: absolute;
    top: -30px;
    left: 50px;
    padding: 20px !important;
    border-radius: 30px;
    text-align: left;
    /* width: ; */
    background-color: #3CD8E8;
    color: #fff;
}
.damiButton1{
    display: inline;
    position: absolute;
    top: -30px;
    left: 20px;
    padding: 20px !important;
    border-radius: 30px;
    text-align: left;
    /* width: ; */
    background-color: #95B226;
    color: #fff;
}
.damiButton2{
    display: inline;
    position: absolute;
    top: -30px;
    left: 20px;
    padding: 20px !important;
    border-radius: 30px;
    text-align: left;
    /* width: ; */
    background-color: #5D58F0;
    color: #fff;
}
.damiButton3{
    display: inline;
    position: absolute;
    top: -30px;
    left: 20px;
    padding: 20px !important;
    border-radius: 30px;
    text-align: left;
    /* width: ; */
    background-color: #95B226;
    color: #fff;
}
.damiButton4{
    display: inline;
    position: absolute;
    top: -30px;
    left: 20px;
    padding: 20px !important;
    border-radius: 30px;
    text-align: left;
    /* width: ; */
    background-color: #95B226;
    color: #fff;
}


.small{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.smallCard{
    /* width: 50%; */
    grid-gap: 20px;
}


.footerSec{
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #01ACFD;
    color: #fff;
}

.footer{
    width: 80%;
    padding: 120px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    justify-content: space-between;
}


.footerLink ul{
    flex-direction: column;
    gap: 20px;
}


.footerLink ul li{
    list-style: none;
    /* padding: 0 20px; */
}

.footerLink ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


/* .footerLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.fLogo img{
    padding: 10px;
}



.fLogo h1{
    font-size: 42px;
    /* align-items: center; */
}

.footerLogo p{
    padding: 50px 0;
}


.footerLink h1{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}

.keepintouch h1{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 30px;
}

.logos i{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background: #3B5998;
    font-size: 24px;
}

#icon2{
    background: #EA4C89;
}

#icon3{
    background: #1DA1F2;
}

#icon4{
    background: #DD4B39;
}









@media screen and (max-width: 576px) {
    .logo h1{
        display: none;
    }

    .headerPart{
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    }

    .main{
        flex-direction: column-reverse;
        width: 100%;
    }

    .main img{
        width: 90%;
    }

    .mainText{
        padding: 0px 20px;
        width: 90%;
        text-align: center;
        /* margin: 20px; */
    }

    .header ul{
        display: none;
    }

    .header .btn{
        display: none;
    }

    #cross{
        /* visibility: visible; */
        display: block;
        font-size: 32px;
    }

    .gridcard{
        grid-template-columns: repeat(1, 1fr);
    }

    .big{
        display: none;
    }

    .footer{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        padding: 50px 0;
    }

    .smallCard{
        width: 90%;
    }

    .small{
        /* width: 100%; */
    }

    .keepintouch{
        padding-top: 30px;
    }
}